root: true

parserOptions:
  ecmaVersion: 2017
  sourceType: "script"

env:
  browser: true
  node: true
  es6: true

globals:
  define: true

extends:
  "htmlacademy/es6"

rules:
  camelcase: [2, { properties: "never" }]
  indent: ["error", "tab"]
  quotes: [2, "single"]
